# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.raw
*.log
*.bcm
*.kicad_pcb-bak
*~
*autosave*
*cache*
*.tmp

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
.dsn

# Exported BOM files
*.xml
*.csv

# For projects created in Code Composer Studio: http://www.ti.com/tool/CCSTUDIO
*.xdchelp
Debug/
Release/
.config/
.launches/

# For audio files used by the Python DSP code for testing
*.wav

# Visual Studio Code
.vs/
